*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --secondary-color: #7b6b3a;
    --main-color: #dddddd
}

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background-color: #444;
    height: 100%;
    width: 100%;

}

html {
    scroll-padding-top: 86px;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
}

p {
    font-size: 10px;
    margin-top: 5px;
}

.shadow-bg {
    background-color: rgba(0, 0, 0, 1);
}

nav {
    text-transform: uppercase;
    transition: background-color .6s;
    z-index: 5;

}

.nav-link {
    color: var(--secondary-color);
    transition: 0.3s;
    font-weight: bold;
}

nav a {
    color: var(--main-color);
}

nav a:hover {
    color: var(--secondary-color);
}

.nav-link:hover {
    color: var(--secondary-color);
    scale: 1.3;
}


.fa-solid {
    color: var(--secondary-color);
    padding: 10px;
    transition: 0.3s;
}

.fa-solid:hover {
    color: #dddddd
}

.navbar-brand {
    font-weight: bold;
    color: var(--secondary-color);

}

.navbar-brand:hover {
    color: var(--secondary-color);
}

.navbar-logo {
    height: 50px;
    width: 150px;
    z-index: 10;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.logo {
    color: var(--secondary-color);
}

header {
    color: var(--main-color);
}

h1, p, a {
    z-index: 1;
}

.hero-img {
    position: relative;
    height: 100vh;
    background-image: url('../img/interior-hero.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;

}

.hero-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .85);
    z-index: 1;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    z-index: 5;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header h1 span {
    color: var(--secondary-color);
}

.fa-angles-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    z-index: 1;
    cursor: pointer;
}

.underline {
    width: 70px;
    height: 4px;
    background-color: var(--secondary-color);
    margin: 0 auto 40px;
    z-index: 4;
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

.about-us i {
    margin-top: 20px;
    font-size: 30px;
    color: #333333;
}

.about-card-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #333333;

}

.about-card-text {
    font-size: 14px;
    color: #333333;

}

.col-sm-6 {
    padding: 0 20px;
}

.box-hover {
    border-radius: 5px;
    border: 1px solid white;
    transition: background-color .5s;
}

.box-hover:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: #dddddd;
}

.about-us-hero {
    position: relative;
    background-image: url('../img/interior-hero.jpg');
    background-position: center;
    background-size: cover;
    z-index: 0;
    color: var(--main-color);
}

.about-us-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(60, 63, 63, 0.8);
    z-index: -5;
}

.font-color-p {
    color: var(--main-color)
}

.about-us-hero i {
    font-size: 36px;
}

.scale-up-center {
    transition-duration: 0.5s;
}

.scale-up-center:hover {
    transform: scale(1.2);
}

.about-hero-text {
    font-size: 16px;
    padding: 10px 20px;
}

.about-hero-title {
    font-size: 24px;
    color: var(--secondary-color);
    font-weight: bold;
}

.about-us-card {
    margin-top: 10px;
}

.carousel-item {
    height: 600px;
    position: relative;
}

.carousel-caption {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    right: 0;
    left: 0;
    padding: 30px 0;
}

.portfolio-paragraph {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}

.portfolio-button {
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    transition: all .2s ease-in-out;
}

.portfolio-button:hover {
    transform: scale(2);
    color: #f38003;
}

.offer {
    background-color: #eae9e9;
}

.offer-box {
    margin: 10px 5px;
    padding: 30px;
    box-shadow: 5px 5px 5px darkgrey;
    background-color: white;
    border-radius: 5px;
    transition: 0.3s;
}

.offer-box:hover {
    transform: scale(1.1);
}

.offer-box h3 {
    color: var(--secondary-color)
}

.offer-box span {
    font-weight: bold;
}

.offer-box i {
    font-size: 20px;
    color: #1e1d23;
}

.price-id {
    font-size: 20px;
    font-weight: bold;
}

.offer-info {
    margin-top: 50px;
    font-size: 18px;
    text-transform: uppercase;
}

.achievement {
    padding: 30px;
    background-color: #eae9e9;
}

.contact-button {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    padding: 10px 20px;

}

.contact-button:hover {
    color: var(--secondary-color);
    transform: scale(1.3);
    border: 1px solid var(--secondary-color);
}


.achievement-number {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 24px;
}

.achievement i {
    font-size: 34px;
    color: #212529;
    padding: 0;
}

.achievement-text {
    font-size: 14px;
    text-transform: uppercase;
}

.contact {
    position: relative;
    background-image: url("../img/interior-hero.jpg");
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
}

.contact h2 {
    color: var(--main-color);
}

.contact-us {
    justify-content: center;
    display: flex;
    color: var(--main-color);
}

.contact-item h3 {
    text-transform: uppercase;
}

.shadow-footer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    z-index: -10;
}

.contact .underline, .contact-item p {
    font-size: 14px;
    z-index: -1;
}

.contact-item a {
    font-size: 14px;
    text-decoration: none;
    color: #dddddd;
    transition: color .3s;
}

.contact-item a:hover {
    color: var(--secondary-color);
}

.social-media a {
    margin: 5px;
    font-size: 18px;
}

/*media query*/

@media (min-width: 1200px) {
    .hero-img {
        background-image: url('../img/interior-hero.jpg')
    }

    .about-us-hero {
        background-image: url('../img/interior-hero.jpg');
    }
}

@media (min-width: 992px) {
    .nav {
        height: 86px;
    }

    .img-carusel {
        height: 100%;
        background-position: center;
        background-size: cover;
    }
}

@media (max-width: 991px) {
    .social-media-box {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .navbar {
        background: rgba(0, 0, 0, .8);
    }
}

@media (min-width: 768px) {
    header h1 {
        font-size: 48px;
    }

    header p {
        font-size: 24px;
    }


    .img-carusel {
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    .nav-link {
        text-align: end;
    }
}

@media (max-width: 768px) {
    .offer-info {
        font-size: 14px;
        padding: 0 20px;
    }
}

@media (max-width: 400px) {
    .navbar {
        background: rgba(0, 0, 0, .8);
    }

    .nav-link {
        text-align: end;
        margin-right: 20px;
    }

    .offer-info {
        font-size: 12px;
        padding: 0 30px;
    }
}


@media (min-width: 375px) {
    header h1 {
        font-size: 30px;
    }

    header p {
        font-size: 16px;
    }

    .nav-link {
        text-align: end;
        margin-right: 20px;
    }

    .portfolio-paragraph {
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        padding: 0 40px;
    }
}


/*animation  */



